services:
  backend:
    build: ./api
    ports:
      - "8001:8001"
    volumes:
      - ./api:/app
    environment:
      - WATCHFILES_FORCE_POLLING=true

  frontend:
    build: ./web
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Fix for hot reload on Windows/Docker
    depends_on:
      - backend
